.no-padding {
  padding: 0;
}
ng-scrollbar {
  height: calc( 100vh - 106px );
}
.chat-input {
    margin: 0 0 -16px;
    input {
        border: none;
        outline: none;
        flex: 1;
        padding: 0 12px;
        &:focus {
            outline: none;
        }
    }
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border-radius: 0;
}
emoji-mart {
  position: absolute;
  bottom: 48px;
  right: 40px;
}
:host-context([dir=rtl])  {
  emoji-mart {
    right: auto;
    left: 40px;
  }
}
:host-context(.dark-theme) .chat-input input {
  background: #424242;
  color: #fff;
}