<nav>
  <div mat-tab-nav-bar mat-align-tabs="center" color="primary" backgroundColor="primary" *ngIf="chat$ | async as chat">
    <a mat-tab-link routerLink="/chat" routerLinkActive #rlaH="routerLinkActive" [active]="rlaH.isActive">
      <span [class.blink]="chat.blink" [matBadge]="chat.unread" matBadgeOverlap="false" matBadgeColor="accent" matBadgePosition="above after" [matBadgeHidden]="!chat.unread" translate>Chat</span>
    </a>
    <a mat-tab-link routerLink="/settings" routerLinkActive #rlaA="routerLinkActive" [active]="rlaA.isActive">
      <span translate>Settings</span>
    </a></div>
</nav>

<router-outlet></router-outlet>
