<div *ngIf="settings$ | async as settings" fxLayout="row">
  <div class="flex-fix"></div>
  <div class="clearfix from-them" @items
    [ngClass]="{'from-me' : (message?.user?.userid === settings?.user?.userid), 'from-them': (message?.user?.userid !== settings?.user?.userid)}">
    <small class="message-meta">
      <span *ngIf="message?.user?.userid !== settings?.user?.userid">{{message.user?.username}} , </span>
      {{message.time | date: format}}
    </small>
    <div class="message">
      <div [outerHTML]="message.message | parser"></div>
    </div>
  </div>
</div>