.message {
    border-radius: 20px;
    clear: both;
    padding: 10px 15px;
    position: relative;
  
    &:after {
      border-radius: 50%;
      bottom: 0;
      content: " ";
      height: 30px;
      position: absolute;
      width: 30px;
      z-index: -1;
    }
}
@media only screen and (min-width: 678px) {
  .message {
    max-width: 80%;
  }
}

.message-meta {
  margin: 0 50px;
  color: #aaa;
}
.from-them, .from-me {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  flex: 10;
}
.from-them {
  transform-origin: bottom left;
  order: 1;
  align-items: flex-start;
  .message {
    background: #dedede;
    margin-left: 30px;
    &:after{
      box-shadow: inset 1px 9px 0 4px #fff, inset -9px 0px 0 2px #dedede, 0 0 0 1px #fff;
      left: -19px;
    }
  }
}
.from-me {
  transform-origin: bottom right;
  order: 3;
  text-align: right;
  align-items: flex-end;
  .message {
    background: #2d8cfa;
    color: #fff;
    margin-right: 30px;
    &:after {
      box-shadow: inset -1px 9px 0 4px #fff, inset 9px 1px 0 2px #2d8cfa, 0 0 0 1px #fff;
      right: -19px;
    }
  }
}
.flex-fix {
  flex: 1;
  order: 2;
}
:host-context([dir=rtl])  {
  .from-me {order: 1;align-items: flex-start;}
  .from-them {order: 3;text-align: left;align-items: flex-end;}
}
:host-context(.dark-theme) {
  .from-them{
    .message{
      background: #333;
      &:after {
        box-shadow: inset 1px 9px 0 4px #424242, inset -9px 0px 0 2px #333, 0 0 0 1px #424242;
      }
    }
  }
  .from-me {
    .message{
      background: #666;
      &:after {
        box-shadow: inset -1px 9px 0 4px #424242, inset 9px 1px 0 2px #666, 0 0 0 1px #424242;
      }
    }
  }
}
